---
import StoreLayout from "../../layouts/StoreLayout.astro";
import CartCheckout from "../../components/svelte/store/CartCheckout.svelte";
---

<StoreLayout title="IshosFactory - Carrito">
  <main>
    <CartCheckout client:load />
  </main>
</StoreLayout>
