---
import StoreLayout from "../../layouts/StoreLayout.astro";
import { OrderTracking } from "@features/orders";
---

<StoreLayout title="IshosFactory - Seguimiento">
  <main class="container mx-auto px-4 py-8">
    <OrderTracking client:load />
  </main>
</StoreLayout>
