---
import "../../styles/component.css";
import ThemeToggle from "@shared/components/ThemeToggle.svelte";
import { StoreCartIcon, StoreLogo } from "@features/catalog";

const currentPath = Astro.url.pathname;

const links = [
  { href: "/", label: "Inicio" },
  { href: "/menu", label: "Menu" },
  { href: "/about", label: "Nosotros" },
];
---

<header
  class="navbar bg-base-100/80 backdrop-blur-sm border-b border-base-300 sticky top-0 z-50 shadow-sm transition-all duration-300 py-0 md:py-1"
>
  <div class="navbar-start">
    <StoreLogo client:load />
  </div>

  <div class="navbar-center">
    <ul class="menu menu-horizontal px-1">
      {
        links.map((link) => (
          <li>
            <a
              href={link.href}
              class={`text-sm md:text-base nav-link-dot ${currentPath === link.href ? "text-primary font-semibold active" : ""}`}
            >
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>

  <div class="navbar-end flex items-center gap-2">
    <StoreCartIcon client:load transition:persist="store-cart-icon" />
    <ThemeToggle client:load />
  </div>
</header>
