---
import StoreLayout from "../layouts/StoreLayout.astro";
import MenuCatalog from "../features/catalog/components/MenuCatalog.svelte";
---

<StoreLayout title="IshosFactory - Menu">
  <main>
    <MenuCatalog client:load />
  </main>
</StoreLayout>
