---
import AppLayout from "../../layouts/AppLayout.astro";
import AdminLoginForm from "../../components/svelte/AdminLoginForm.svelte";
---

<AppLayout title="Admin Login - IshosFactory">
  <section class="min-h-[70vh] flex items-center justify-center">
    <AdminLoginForm client:load />
  </section>
</AppLayout>
