---
export const prerender = false;

import AdminLayout from "../../layouts/AdminLayout.astro";
import { AdminLoginForm } from "@features/auth";
---

<AdminLayout title="Admin Login - IshosFactory">
  <section class="min-h-[70vh] flex items-center justify-center">
    <AdminLoginForm client:load />
  </section>
</AdminLayout>
